<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>KenGPT</title>
  </head>
  <body class="bg-stone-900">

    <div
      class="container flex flex-col justify-center items-center h-screen p-4"
    >

      <h1 class="text-5xl text-stone-100">Welcome To Test_GPT !</h1>

      <div class="flex m-10 text-stone-100 gap-10 text-center">
        <div class="login bg-slate-500 w-20 rounded">
          <button class="btn p-2"><a href="/login">Login</a></button>
        </div>
        <div class="register bg-slate-500 w-20 rounded">
          <button class="btn p-2"><a href="/register">Register</a></button>
        </div>
      </div>
    </div>

  </body>
</html>